$def with (voting_hotline, songs_dict)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html" />
        <title>Play My Song</title>
        <link href="/static/css/style.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/static/js/script.js"></script>
        <script type="text/javascript" src="/static/js/jquery.flipCounter.1.2.pack.js"></script>
    </head>
    <body>
        <p class="blue big">Hey, Diggz, play my song!</p>
        <p class="blue">Call this number to vote: $voting_hotline</p>
        <p class="blue">Current rankings:</p>
        <ul id="results">
            $for i, d in enumerate(songs_dict):
            <li id="position-${d['position']}" keyword="${d['keyword']}">
            ${d['title']} (${d['votes']} votes) <span class="instructions">${"to vote" if i==0 else ""} say '${d['keyword']}' or press ${d['number']}</span>
            </li>
        </ul>
        <div style="padding-top: 20px;">
            <div id="counter"><input type="hidden" id="counter-value" value="0" /></div>
            <p class="small">Votes Powered By</p>
            <p class="small"><img width="300px" alt="tropo logo" src="/static/images/tropo-white.png" /></p>
        </div>
    </body>
</html>
